<form action="" method="get">
    <input type="search" name="movie_name">
    <button type="submit">Search</button>
</form>


{% for movie_item in movie_object %}
<h1>{{movie_item.name}}</h1>   
{% endfor %}

{% if movie_object.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{movie_object.previous_page_number}}">Previous</a>
{% endif %}

Page: {{movie_object.number}} of {{movie_object.paginator.num_pages}}

{% if movie_object.has_next %}
    <a href="?page={{movie_objects.next_page_number}}">Next</a>
    <a href="?page={{movie_object.paginator.num_pages}}">Last</a>
{% endif %}